<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Nancy" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.12.1" targetFramework="net40" />
  <package id="NAudio" version="1.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Hosting.Self" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.3" targetFramework="net40" />
</packages>